<H3>
Math Sheet max minuend: {{maxMinuend}}, max subtrahend: {{maxSubtrahend}}
</H3>
<input type="button" class="printButton" value="Print"onclick="window.print();return false;" />
<ul class="row-fluid">
  <li *ngFor="#problem of list; #i = index"  >
      <div class="question" [ngClass]="problem.hidden ? 'qHidden' : 'qVisible'">
      {{problem.minuend}} <br> - {{problem.subtrahend}}
      <br> <span class="divider">------</span>
      <input type="text" class="answer" focus  id="ans{{i}}" #answer (keyup.enter)="checkProblem(i, answer.value)">
      <br>
      </div>
      <div class="problemTease pt{{problem.image}} question" [style.visibility]="problem.hidden ? 'visible' : 'hidden'" (click)='showProblem(problem,answer)' style="margin-left: -74px ; width:74px;"></div>

  </li>
</ul>
