
.row-fluid {
  padding-left: 0;
  list-style: none;
}
.row-fluid:before,
.row-fluid:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.row-fluid:after {
  clear: both;
}
.row-fluid:before,
.row-fluid:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.row-fluid:after {
  clear: both;
}
@media (min-width: 768px) {
  .row-fluid {
    margin-left: -10px;
    margin-right: -10px;
  }
}
.row-fluid .row {
  margin-left: -10px;
  margin-right: -10px;
}
.row-fluid .question {
  position: relative;
  min-height: 1px;
  padding-left: 3px;
  padding-right: 3px;
  float: left;
  width: 10%;
  margin-bottom: 3px;
  text-align: right;
}
@media (max-width: 400px) {
  .row-fluid .question {
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: right;
    float: left;
    width: 10%;

  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .row-fluid .question {
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    text-align: right;
    width: 10%;
  }
}
@media (min-width: 992px) {
  .row-fluid .question {
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    width: 10%;
    text-align: right;
  }
}
.divider {
  display: none;
}
.qHidden{
  visibility: hidden;
}
.qVisible{
  visibility: visible;
}

@media print {
    input, textarea {
        display: none;
    }
    .divider{
      display: block !important;
    }
    .qHidden{
      visibility: visible;
    }
    .problemTease{
      visibility: hidden;
    }
    .printButton{
      visibility: hidden;
    }
}

.answer{
  width:60px;
  text-align:right;
  margin-right: -10px;
  padding-right: 10px;
  margin-bottom: 5px;
}
.incorrect{
  border: 3px solid red;
}
.problemTease{
   width: 75px;
   height: 75px;
   display: block;
   background: url("/dist/dev/assets/img/cupcakes.jpg") no-repeat center;
   background-position: 0px 4px;
}
.pt1{
     background-position: 0px 4px;
}
.pt2{
     background-position: -80px 4px;
}
.pt3{
    background-position: -160px 4px;
}
.pt4{
    background-position: -230px 4px;
}
.pt5{
    background-position: -230px -74px;
}
.pt6{
     background-position: 0px -69px;
}
.pt7{
     background-position: -80px -74px;
}
.pt8{
    background-position: -160px -74px;
}
